apiVersion: apps/v1
kind: Deployment
metadata:
  name: hospital-deployment
  namespace: hospital
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hospital
  template:
    metadata:
      labels:
        app: hospital
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: hospital-app
        image: jfrog.it-academy.by/public/hospital/app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: DB_HOST
          value: "mysql-service"
        - name: DB_PORT
          value: "3306"
        - name: JAVA_OPTS
          value: "-Xmx768m -Xms512m -Dspring.main.lazy-initialization=true"
        resources:
          requests:
            memory: "1024Mi"
            cpu: "1000m"
          limits:
            memory: "2048Mi"
            cpu: "2000m"
        livenessProbe:
          httpGet:
            path: /hospital/actuator/health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 120
          periodSeconds: 15
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /hospital/actuator/health/readiness
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 90
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 1
        startupProbe:
          httpGet:
            path: /hospital/actuator/health
            port: 8080
            scheme: HTTP
          failureThreshold: 30
          periodSeconds: 10
        lifecycle:
          preStop:
            exec:
             command: ["sh", "-c", "sleep 30"]
